:root {
  --el-color-primary: #256f5a;
  --el-color-primary-light-3: #4b8c78;
  --el-color-primary-light-5: #7aab9c;
  --el-color-primary-light-7: #aecdc3;
  --el-color-primary-light-9: #e8f3ef;
  --el-color-primary-dark-2: #1d5948;
  color: #1f2937;
  background: #f5f7fa;
}
